<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xsy.scm.admin.module.business.trace.dao.TraceBatchDao">

    <!-- 分页查询溯源批次 -->
    <select id="queryPage" resultType="com.xsy.scm.admin.module.business.trace.domain.vo.TraceBatchVO">
        SELECT
            batch_id,
            batch_no,
            product_id,
            sku_id,
            supplier_id,
            manufacturer_id,
            produce_batch_no,
            origin_place,
            produce_date,
            shelf_life_unit,
            shelf_life_value,
            expire_date,
            status,
            create_time,
            update_time
        FROM t_trace_batch
        <where>
            <if test="queryForm.deletedFlag != null">
                AND deleted_flag = #{queryForm.deletedFlag}
            </if>
            <if test="queryForm.productId != null">
                AND product_id = #{queryForm.productId}
            </if>
            <if test="queryForm.supplierId != null">
                AND supplier_id = #{queryForm.supplierId}
            </if>
            <if test="queryForm.status != null">
                AND status = #{queryForm.status}
            </if>
            <if test="queryForm.searchWord != null and queryForm.searchWord != ''">
                AND (INSTR(batch_no, #{queryForm.searchWord}) OR INSTR(produce_batch_no, #{queryForm.searchWord}))
            </if>
        </where>
        <if test="queryForm.sortItemList == null or queryForm.sortItemList.size == 0">
            ORDER BY batch_id DESC
        </if>
    </select>

    <!-- 批量更新删除状态 -->
    <update id="batchUpdateDeleted">
        update t_trace_batch
        set deleted_flag = #{deletedFlag}
        WHERE batch_id IN
        <foreach collection="idList" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </update>

</mapper>
