<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xsy.scm.admin.module.business.stock.dao.ProductConvertDao">

    <!-- 分页查询商品转换单 -->
    <select id="queryPage" resultType="com.xsy.scm.admin.module.business.stock.domain.vo.ProductConvertVO">
        SELECT
            convert_id,
            convert_no,
            convert_type,
            warehouse_id,
            source_type,
            status,
            create_time,
            update_time
        FROM t_product_convert
        <where>
            <if test="queryForm.deletedFlag != null">
                AND deleted_flag = #{queryForm.deletedFlag}
            </if>
            <if test="queryForm.convertType != null">
                AND convert_type = #{queryForm.convertType}
            </if>
            <if test="queryForm.status != null">
                AND status = #{queryForm.status}
            </if>
            <if test="queryForm.searchWord != null and queryForm.searchWord != ''">
                AND INSTR(convert_no, #{queryForm.searchWord})
            </if>
        </where>
        <if test="queryForm.sortItemList == null or queryForm.sortItemList.size == 0">
            ORDER BY convert_id DESC
        </if>
    </select>

    <!-- 批量更新删除状态 -->
    <update id="batchUpdateDeleted">
        update t_product_convert
        set deleted_flag = #{deletedFlag}
        WHERE convert_id IN
        <foreach collection="idList" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </update>

</mapper>
