<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xsy.scm.admin.module.business.customer.dao.CustomerDao">

    <!-- 分页查询客户 -->
    <select id="queryPage" resultType="com.xsy.scm.admin.module.business.customer.domain.vo.CustomerVO">
        SELECT *
        FROM t_customer
        <where>
            <if test="queryForm.deletedFlag != null">
                AND deleted_flag = #{queryForm.deletedFlag}
            </if>
            <if test="queryForm.customerName != null and queryForm.customerName != ''">
                AND INSTR(customer_name, #{queryForm.customerName})
            </if>
            <if test="queryForm.customerType != null">
                AND customer_type = #{queryForm.customerType}
            </if>
            <if test="queryForm.settleMode != null">
                AND settle_mode = #{queryForm.settleMode}
            </if>
            <if test="queryForm.status != null">
                AND status = #{queryForm.status}
            </if>
            <if test="queryForm.parentCustomerId != null">
                AND parent_customer_id = #{queryForm.parentCustomerId}
            </if>
        </where>
        <if test="queryForm.sortItemList == null or queryForm.sortItemList.size == 0">
            ORDER BY customer_id DESC
        </if>
    </select>

    <!-- 批量更新删除状态 -->
    <update id="batchUpdateDeleted">
        update t_customer
        set deleted_flag = #{deletedFlag}
        WHERE customer_id IN
        <foreach collection="customerIdList" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </update>

</mapper>
