<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.scm.order.dao.IdempotencyRecordDao">
    <resultMap id="row" type="net.lab1024.sa.admin.module.scm.order.domain.entity.IdempotencyRecordEntity">
        <result column="id" property="id"/>
        <result column="operation_scope" property="operationScope"/>
        <result column="idempotency_key" property="idempotencyKey"/>
        <result column="request_hash" property="requestHash"/>
        <result column="result_type" property="resultType"/>
        <result column="result_id" property="resultId"/>
        <result column="result_data" property="resultData"
                typeHandler="net.lab1024.sa.admin.module.scm.order.support.OrderJsonbTypeHandler"/>
        <result column="version" property="version"/>
        <result column="deleted" property="deleted"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="created_by" property="createdBy"/>
        <result column="updated_by" property="updatedBy"/>
    </resultMap>
    <select id="lock" resultMap="row">SELECT *
                                      FROM idempotency_record
                                      WHERE id = #{id}
                                        AND deleted = FALSE FOR UPDATE</select>
    <insert id="claim" useGeneratedKeys="true"
            keyProperty="id">INSERT INTO idempotency_record(operation_scope, idempotency_key, request_hash, created_by)
                             VALUES (#{operationScope}, #{idempotencyKey}, #{requestHash}, #{createdBy})
                             ON CONFLICT(operation_scope,idempotency_key)
                             WHERE deleted = FALSE DO NOTHING</insert>
    <select id="find" resultMap="row">SELECT *
                                      FROM idempotency_record
                                      WHERE operation_scope = #{scope}
                                        AND idempotency_key = #{key}
                                        AND deleted = FALSE FOR UPDATE</select>
</mapper>
