<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd"><mapper namespace="com.xianshuyuan.scm.customer.mapper.CustomerMapper"><select id="selectCustomerPage" resultType="com.xianshuyuan.scm.customer.entity.CustomerEntity">SELECT * FROM customer WHERE deleted=FALSE <if test="query.keyword != null and query.keyword != ''">AND (customer_code ILIKE CONCAT('%',#{query.keyword},'%') OR name ILIKE CONCAT('%',#{query.keyword},'%'))</if><if test="query.customerTypeId != null">AND customer_type_id=#{query.customerTypeId}</if> ORDER BY updated_at DESC,id DESC</select></mapper>
